[
{emysql, [
  {pool,     4},
    {host,     "MYSQL_HOST"},
    {port,     MYSQL_PORT},
    {username, "MYSQL_USER"},
    {password, "MYSQL_PASSWORD"},
    {database, "MYSQL_DATABASE"},
    {encoding, utf8}
  ]},

{emqttd_plugin_mysql, [

  {authquery, "select password from users where name = '%u' limit 1"},

  {password_hash, sha256},

  {aclquery, "select * from mqtt_acls where username = '%u' or username = '$all'"},

  {acl_nomatch, deny}

  ]}
  ].
