[
  {emysql, [
    {pool,     4},
    {host,     "MYSQL_HOST"},
    {port,     MYSQL_PORT},
    {username, "MYSQL_USER"},
    {password, "MYSQL_PASSWORD"},
    {database, "MYSQL_DATABASE"},
    {encoding, utf8}
  ]},

  {emqttd_plugin_mysql, [

    {aclquery, "select * from mqtt_acls where username = '%u'"},

    {acl_nomatch, deny}

  ]}
].
